
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' href="style.css"/>
    <meta charset="utf-8">
    <title>CarpartsGh</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">CarpartsGh</a>
        </div>
        <div class="header-links ">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Signin</a>
          <a href="signup.html">Signup</a>
        </div>

      </header>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img class="product-image"src='images/tire.jpg' alt="product"/>
                <div class="product-name">
                  <a href="product.html">Tire</a>
                </div>
                <div class="product-brand">Kia</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image"src='images/tire.jpg' alt="product"/>
                <div class="product-name">
                  <a href="product.html">Tire</a>
                </div>
                <div class="product-brand">Kia</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image"src='images/tire.jpg' alt="product"/>
                <div class="product-name">
                  <a href="product.html">Tire</a>
                </div>
                <div class="product-brand">Kia</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image"src='images/tire.jpg' alt="product"/>
                <div class="product-name">
                  <a href="product.html">Tire</a>
                </div>
                <div class="product-brand">Kia</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image"src='images/tire.jpg' alt="product"/>
                <div class="product-name">
                  <a href="product.html">Tire</a>
                </div>
                <div class="product-brand">Kia</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image"src='images/tire.jpg' alt="product"/>
                <div class="product-name">
                  <a href="product.html">Tire</a>
                </div>
                <div class="product-brand">Kia</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image"src='images/tire.jpg' alt="product"/>
                <div class="product-name">
                  <a href="product.html">Tire</a>
                </div>
                <div class="product-brand">Kia</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
          </ul>
      </div>
      </main>
      <footer class="footer">
        2020 oltostudios All Rights Reserved
      </footer>

    </div>
  </body>
</html>
