html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

button {
  font-size: 1.6rem;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #2f3640;
  color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: #fff;
  padding: 0.5rem;
}

.header-links a:hover {
  color: #487eb0;
  /*transform: translateX(10px);*/
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3640;
  color: #fff;
}
a {
  text-decoration: none;
}

a:hover {
  color: #487eb0;
}
/*Home Screen*/

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  max-width: 34rem;
  max-height: 34rem;
  padding: 1rem;
}

.product-image:hover {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
}

.product-rating {
  font-size: 1.5rem;
}
.product-year {
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Side bar*/
.brand-button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  width: 30rem;
  transition: all 0.5s;
  transform: translateX(-30rem);
  background-color: #ecf0f1;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

/* Product Details */

.Details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.Details-image {
  flex: 2 1 60rem;
}

.Details-image img {
  max-width: 60rem;
  width: 100%;
}

.Details-info {
  flex: 1 1 30rem;
}
.Details-action {
  flex: 1 1 30rem;
}

.Details-info ul,
.Details-action ul {
  list-style-type: none;
  padding: 0;
}
.Details-info li,
.Details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
}

.Details-action {
  border: 0.1rem solid #808080;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.Details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: 0.1rem solid #808080;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem solid #404040;
}

.button.primary {
  background-color: #f0c040;
}

.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}

/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  //padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #808080 solid;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* Signin Section*/

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* product section */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}

th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
